@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/animation';

@import './base/typography';
@import './base/base';

@import './components/header';
@import './components/hero';
@import './components/about';
@import './components/cta';
@import './components/services';
@import './components/why-us';
@import './components/team';
@import './components/pricing';
@import './components/testimonial';
@import './components/fun-fact';
@import './components/footer';
