
/*===============
  HERO 3
===============*/
.hero {
  position: relative;
  background-color: $color-tertiary;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: $color-primary;
    opacity: 0.5;
    top: 90px;
    left: -300px;
    animation: leftShape 3s linear infinite alternate;
    @include respond(desktop) {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: $color-primary;
    opacity: 0.7;
    bottom: 170px;
    left: -200px;
    animation: leftShape 3s linear infinite alternate;
    animation-delay: 7s;
    @include respond(desktop) {
      display: none;
    }
  }

  &__content {
    padding-right: 25px;
    z-index: 10;
    @include respond(laptop) {
      padding-bottom: 25px;
    }
    @include respond(phone) {
      text-align: center;
    }
  }
  &__image {
    position: relative;
    width: 550px;
    height: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    @include respond(desktop) {
      width: 465px;
      height: 465px;
    }
    @include respond(phone) {
      width: 370px;
      height: 370px;
    }
    @include respond(mini) {
      width: 300px;
      height: 300px;
    }
    &::after {
      position: absolute;
      height: 100%;
      width: 100%;
      content: '';
      border: 2px dashed $color-primary;
      left: 0;
      top: 0;
      border-radius: 50%;
      z-index: -1;
      animation: rotate-animation 50s infinite linear;
    }
    img {
      width: 100%;
      max-height: 100%;
      border-radius: 50%;
      object-fit: contain;
      padding: 5px;
    }
    &__icon {
      text-align: center;
      position: absolute;
      width: 80px;
      height: 80px;
      color: $color-light;
      font-size: 20px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 0px 15px 5px $color-shadow;
      transition: all 0.5s;
      font-size: 40px;
      padding: 8px;
      @include respond(phone) {
        width: 70px;
        height: 70px;
        font-size: 30px;
      }
      p {
        background-color: $color-dark-primary;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        opacity: 0;
        transition: opacity 0.5s;
        border-radius: 50%;
        color: $color-light;
        font-size: 12px;
        position: absolute;
        @include respond(phone) {
          font-size: 12px;
        }
      }
      &:hover > p {
        opacity: 1;
      }
      &.identity {
        right: 20px;
        top: 80px;
        background-color: $azure-radiance;
        @include respond(desktop) {
          right: 0px;
        }
        @include respond(mini-phone) {
          top: 60px;
        }
      }
      &.relations {
        left: 20px;
        top: 80px;
        background-color: $dodger-blue;
        @include respond(desktop) {
          left: 0px;
        }
        @include respond(mini-phone) {
          top: 60px;
        }
      }
      &.event {
        left: -15px;
        top: 70%;
        transform: translateY(-50%);
        background-color: $amethyst;
        @include respond(phone) {
          left: -5px;
        }
      }
      &.advertising {
        right: -15px;
        top: 70%;
        transform: translateY(-50%);
        background-color: $guardsman-red;
        @include respond(phone) {
          right: -5px;
        }
      }
      &.mail {
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $red-ribbon;
      }
    }
  }
  .video-btn {
    position: inherit;
    color: $color-light;
    background-color: $color-primary;
    margin: 0;
  }
}

/////  HERO 3 DARK VERSION  /////
.theme-dark {
  .hero {
    background-color: $color-secondary;
    &__title,
    &__desc {
      color: $color-light;
    }
  }
}
