.serviceslider {
  .service__wrapper {
    overflow: hidden;
    position: relative;
    padding-bottom: 65px;
    .service__item {
      box-shadow: 2px 0px 15px 5px $color-shadow;
      margin: 15px;
      background-color: $color-tertiary;
      border-radius: 5px;
      overflow: hidden;
      &:hover .service__icon:after {
        width: 100%;
        visibility: visible;
        opacity: 1;
      }
      &:hover .service__icon {
        color: $color-light;
      }

      &-img {
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }
      &-content {
        padding: 30px 10px;
        @include respond(phone) {
          padding: 20px;
        }
        .service__icon {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $color-tertiary;
          font-size: 30px;
          margin-bottom: 20px;
          color: $color-primary;
          overflow: hidden;
          position: relative;
          isolation: isolate;
          margin-bottom: 20px;
          i {
            z-index: 1;
            position: relative;
            transition: all 0.4s;
          }
          &::after {
            position: absolute;
            width: 0;
            content: '';
            background-color: $color-primary;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            inset: 0;
          }
        }
        h3 {
          font-size: 22px;
          margin-bottom: 15px;
        }
      }
    }
    .service-slider {
      [class*='slid-'] {
        bottom: 12px;
      }
      .slid-prev {
        left: 50%;
        transform: translate(-45px, 0);
      }
      .slid-next {
        right: 50%;
        transform: translate(45px, 0);
      }
    }
  }
}
.bg-one {
  .service__wrapper {
    .service__item {
      background-color: $color-light;
    }
  }
}

/////  DARK VERSION  /////
.theme-dark {
  .serviceslider {
    background-color: $color-secondary;
    .service__item {
      background-color: $color-dark-primary;
    }
  }
}
