
/*===============
  TESTIMONIAL VERSION 03
===============*/
.testimonial3 {
  &__slide {
    &__content {
      padding: 30px;
      border-radius: 10px;
      background-color: $color-tertiary;
      @include respond(laptop) {
        padding: 20px;
        margin: 20px;
      }
      @include respond(mini) {
        margin: 0px;
      }
      .user-info {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-top: 12px;
        &__image {
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            padding: 5px;
            border: 2px solid $color-primary;
            object-fit: cover;
          }
        }
      }
      ul {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
        li {
          i {
            color: #ffcc00;
            font-size: 20px;
          }
        }
      }
    }
  }
  &__slider {
    position: relative;
    &__img {
      &-1 {
        width: 100px;
        height: 100px;
        top: -15px;
        left: -15px;
      }
      &-2 {
        width: 60px;
        height: 60px;
        left: 50%;
        top: -40px;
      }
      &-3 {
        width: 90px;
        height: 90px;
        left: auto;
        right: -25px;
        top: 60px;
        @include respond(desktop) {
          right: 0;
        }
      }
      &-5 {
        width: 70px;
        height: 70px;
        left: auto;
        right: -40px;  
        bottom: 0;
        @include respond(big-desktop) {
          right: 0px;
        }
      }
    }
  }
}


[class*='slid-'] {
  top: auto;
  bottom: 12px;
  width: 40px;
  height: 40px;
  box-shadow: 2px 0px 15px 5px $color-shadow;
  background-color: $color-primary;
  color: $color-secondary;
  border-radius: 50%;
  transition: all 0.3s;
  color: $color-light;
  &:hover {
    background-color: $color-secondary;
  }
  @include respond(laptop) {
    bottom: 1px;
  }
  &::after {
    font-size: 16px;
  }
}
.swiper {
  z-index: 99;
}

.testimonialSlider {
  .slid-next {
    left: auto;
    right: 80px;
  }
  .slid-prev {
    left: auto;
    right: 130px;
  }
}

/////  DARK VERSION  /////
.theme-dark {
  .testimonial3 {
    background-color: $color-secondary;
    &__slide__content {
      background-color: $color-dark-primary;
    }
  }
  .bg-one{
    .testimonial3__slide__content{
      background-color: $color-dark-primary;
    }
  
  }
}

.bg-one{
  .testimonial3__slide__content{
    background-color: $color-light;
  }

}
